[Desktop Entry]
Type=Application
Name=Paint 10
GenericName=Drawing application
Comment=Draw and edit pictures with a familiar Paint ribbon
Exec=paint-10 %f
Icon=paint-10
Terminal=false
Categories=Graphics;2DGraphics;RasterGraphics;
Keywords=paint;drawing;image;picture;
MimeType=image/png;image/jpeg;image/bmp;image/gif;image/tiff;image/webp;image/x-icon;
StartupWMClass=paint-10
